{% extends "layout.html.twig" %}
{% block pagetitle 'Zalogowany' %}

{% block content %}
<div class="window" id="registered">
    <div class="window-container">
        <div class="window-title">
            Rejestracja zakończona powodzeniem
        </div>
        <div class="box">
            <div class="info">Zostałeś zarejestrowany.</div>
            <p>Trwa przekierowanie...</p>
        </div>
    </div>
</div> 
{% endblock %}
