{% extends "layout.html.twig" %}
{% block pagetitle 'Panel użytkownika' %}
{% block pagelabel 'kontrola wersji' %}

{% block content %}

<div class="container"><br>
    <p style="font-weight:bold;">Księgozbiór v.0.15</p><br>
    <p>Do zrobienia w v.0.1:</p>
    <ul>
        <li><s>Działanie opcji: "szukaj".</s></li>
        <li><s>Usuwanie fizyczne zdjęć.</s></li>
        <li><s>Walidator zdjęć.</s></li>
        <li><s>Optymalizacja kodu - db(count)</s></li>
    </ul><br>
    <p>Do zrobienia w v.0.2:</p>
    <ul>
        <li>Paginacja.</li>
        <li>Relacyjna DB.</li>
        <li>Wyświetlanie komentarza w oknie książki</li>
        <li><s>Go to top.</s></li>
    </ul><br>
    <p>Do zrobienia w v.0.3:</p>
    <ul>
        <li>Strona startowa.</li>
    </ul><br>
    <p>Do zrobienia w v.0.4:</p>
    <ul>
        <li>Domyślna strona użytkownika.</li>
    </ul><br>
    <p>Do zrobienia w v.0.45:</p>
    <ul>
        <li>Odzyskiwanie hasła.</li>
        <li>Captcha.</li>
        <li>Monolog.</li>
    </ul><br>
</div>

{% endblock %}